body{
  
  background-color: var(--base-clr);
  color: var(--text-clr);
}

ul{
  padding: 0;margin: 0;
}

.full-height{
  height: 90vh;
}


.full-page-content{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .full-page-content{
    flex-direction: row;
  }
  
}