.main-page-content{
    /* background: green; */
    
  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
}

.content-end-row{
    display: flex;
    flex-direction: column;
    align-items: end;
    
    /* justify-content: end; */
    /* justify-content: flex-end; */
}
@media screen and (min-width: 800px) {
  .content-end-row{
    flex-direction: row;
    justify-content: end;
  }
    
  
}