:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
  }
#sidebar {
  box-sizing: border-box;
  /* height: 100vh; */
  width: 250px;
  /* background: green; */
  padding: 5px 1em;
  /* background-color: var(--base-clr); */
  /* border-right: 1px solid var(--line-clr); */

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  /* text-wrap: nowrap; */
}

#sidebar.close {
  padding: 5px;
  width: 60px;
}
#sidebar ul {
  list-style: none;
  padding: 0;
}
#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-clr);

  svg, i {
    fill: var(--accent-clr);
  }
}

#sidebar button{

  border-radius: 0.5em;
}
#sidebar a, 
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
#sidebar svg, #sidebar i {
  flex-shrink: 0;
  fill: var(--text-clr);
}
#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg, i {
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover {
  background-color: var(--hover-clr);
}
#sidebar a:hover, #sidebar button:hover{
    background-color: var(--hover-clr);
  }



@media(max-width: 800px){


    #sidebar{
        height: 60px;
        width: 100%;
        border-right: none;
        background: var(--base-clr);
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;
    
        
        > ul{
          padding: 0;
          display: grid;
          grid-auto-columns: 60px;
          grid-auto-flow: column;
          justify-content: space-between;
          align-items: center;
          overflow-x: scroll;
        }
        ul li{
          height: 100%;
        }
        ul li span{
          display: none;
        }
        ul li a{
          justify-content: center;
        }
    }    
}
.logout-btn{
  width: 100%;
  color: white;
  padding: 0;
}