.task-card {
  border: 1px solid grey;

  padding: min(3em, 15%);
  border-radius: 20px;
}

.title{max-width: 80%;
    
    /* background: green; */
}
.task-head{margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.task-head p{
  text-align: end;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .task-head{
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }
  .task-head p{
    width: auto;
    /* text-align: start; */
  }
  
}